<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_findpet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFindPet">
        <activity
            android:name=".ui.perfilInstituicaoVisaoInstituicaoActivity"
            android:parentActivityName=".tela_feed">

        </activity>

        <activity android:name=".ui.perfilAnimalActivity" />

        <activity android:name=".ui.campanhasActivity"
            android:parentActivityName=".ui.perfilInstituicaoVisaoInstituicaoActivity">

        </activity>
        <activity android:name=".ui.perfilInstituicaoActivity" />

        <activity
            android:name=".ui.esqueciSenhaEtapa3Activity"
            android:parentActivityName=".ui.esqueciSenhaEtapa2Activity" />

        <activity
            android:name=".ui.esqueciSenhaEtapa2Activity"
            android:parentActivityName=".ui.esqueciSenhaEtapa1Activity" />

        <activity
            android:name=".ui.esqueciSenhaEtapa1Activity"
            android:parentActivityName=".ui.MainActivity"></activity>


        <activity android:name=".ui.editarPerfilInstituicaoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name=".ui.cadastrar_novo_perfilAnimais"
            android:parentActivityName=".ui.perfilInstituicaoVisaoInstituicaoActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.cadastrar_novo_perfilFuncionario"
            android:parentActivityName=".ui.perfilInstituicaoVisaoInstituicaoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".tela_feed" />

        <activity android:name=".ui.tela_cadastro_usuarioComum"
            android:parentActivityName=".ui.MainActivity"  />

        <activity android:name=".tela_cadastro_instituicoes"
            android:parentActivityName=".ui.MainActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".tela_escolha_cadastro" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>