<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_findpet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFindPet">
        <activity
            android:name=".perfilInstituicaoVisaoInstituicaoActivity"
            android:parentActivityName=".tela_feed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".perfilAnimalActivity" />

        <activity android:name=".campanhasActivity"
            android:parentActivityName=".perfilInstituicaoVisaoInstituicaoActivity">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->
<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>
        <activity android:name=".perfilInstituicaoActivity" />

        <activity
            android:name=".esqueciSenhaEtapa3Activity"
            android:parentActivityName=".esqueciSenhaEtapa2Activity" />

        <activity
            android:name=".esqueciSenhaEtapa2Activity"
            android:parentActivityName=".esqueciSenhaEtapa1Activity" />

        <activity
            android:name=".esqueciSenhaEtapa1Activity"
            android:parentActivityName=".MainActivity"></activity>


        <activity android:name=".editarPerfilInstituicaoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name=".cadastrar_novo_perfilAnimais"
            android:parentActivityName=".perfilInstituicaoVisaoInstituicaoActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".cadastrar_novo_perfilFuncionario"
            android:parentActivityName=".perfilInstituicaoVisaoInstituicaoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".tela_feed" />

        <activity android:name=".tela_cadastro_usuarioComum"
            android:parentActivityName=".MainActivity"  />

        <activity android:name=".tela_cadastro_instituicoes"
            android:parentActivityName=".MainActivity" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".tela_escolha_cadastro" />

        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>